<div class="row col-md-12" id="mid_about">
    <div class="col col-md-3" id="aboutleft">
        <h3><strong>Languages</strong></h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Python</li>
            <li class="list-group-item">C#</li>
            <li class="list-group-item">Java</li>
        </ul>
    </div>
    <div class="row col-md-9 p-0 m-0 text-left" id="aboutright">
        <div class="row col-md-3 w-100" id="aboutrightTop">
            <picture class="col col-md-2">
                <img src="assets/images/myface.jpg" id="myface" class="img-rounded p-2" alt="myface" />
            </picture>
            <div class="col col-md-10 p-12" id="aboutList">
                <ul>
                    <li>Item One</li>
                    <li>Item Two</li>
                    <li>Item Three</li>
                </ul>
            </div>
        </div>
        <div class="col col-md-9 w-100" id="aboutrightBottom">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie ultrices auctor. Phasellus eget
                dapibus lorem.
                Vivamus malesuada, sem sed bibendum egestas, lacus augue congue lacus, vel sodales metus diam mattis
                dolor.
                Donec
                placerat molestie interdum. Sed augue risus, ultrices at tortor id, elementum sagittis lacus. Curabitur
                pretium suscipit
                purus vel fermentum. Nam dolor mauris, luctus in commodo eget, porttitor interdum libero. Quisque purus
                augue, venenatis
                tristique elementum a, sagittis in ante. Etiam tempus feugiat est ut ullamcorper. Integer aliquet velit
                elit, nec
                convallis lorem pulvinar eget. Curabitur sit amet pellentesque ligula. In eget lacus lectus. Nulla
                suscipit
                ultrices
                augue, ut congue nisi euismod in.
            </p>
        </div>
    </div>
</div>