<div class="container p-0" id="mid_map">
    <div class="col-md-12 p-2" style="display: flex;">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8744856014055!2d103.84014601457251!3d1.246285699090986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1eb6797d5d55%3A0x56062f08f909ef47!2sW%20Singapore%20-%20Sentosa%20Cove!5e0!3m2!1sen!2ssg!4v1623550019509!5m2!1sen!2ssg"
            title="W Hotel, Sentosa" width="600" height="250" style="border:1px solid black;" allowfullscreen="" loading="lazy">
        </iframe>
        <div class="col col-md-6 p-3"><p>W Singapore, Sentosa Cove</p></div>
    </div>
    
</div>