<div class="row col-md-12" id="mid_contact">
    <div class="row col-md-12 align-items-center">
        <h3 class="w-100 text-center"><strong>Send Me A Shoutout!</strong></h3>
        <form class="row col-md-12 w-60" id="contactform">
            <div class="mb-3 w-60">
                <label for="InputName" class="form-label">Name</label>
                <input type="name" class="form-control" placeholder="Enter your name" id="InputName"
                    aria-describedby="name" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please enter your name.</div>

                <label for="InputEmail" class="form-label">Email Address</label>
                <input type="email" class="form-control" placeholder="Enter your email address" id="InputEmail"
                    aria-describedby="emailHelpInLine" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please enter a valid email address.</div>
            

                <br />

            
                <div class="input-group-prepend">
                    <span class="input-group-text">Message</span>
                </div>
                <textarea class="form-control" placeholder="Send me a shoutout!" aria-label="Message"
                    required></textarea>
                <div class="invalid-feedback">Awww cmon send a brother some love!</div>
                <br />
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>


        </form>
        <div class="col w-5"></div>
    </div>

</div>